@import '../../variables';

.brand-card {
    width: 100%;
    margin: 10px 0px;
    padding: 7px 0px;
};

.brand-card-logo{
    width: 100%;
    height: 100px;
};

.brand-card-details{
    width: 100%;
    text-align: center;
}

.brand-card-name{
    color: $black-color;
    text-decoration:none;
    &:hover{
        color: $black-color;
        text-decoration: none;
    }
};

.brand-card-actions{
    width: 30%;
    margin: 0px auto;
}