@import '../../variables';

.vehicle-card {
    width: 100%;
    margin: 10px 0px;
};

.vehicle-card-img{
    width: 100%;
    height: 150px;
};

.vehicle-card-details{
    width: 100%;
    text-align: center;
}

.vehicle-card-name{
    text-decoration:none;
    color: $black-color;
    &:hover{
        text-decoration:none;
        color: $black-color;
    }
};

.vehicle-card-actions{
    width: 30%;
    margin: 0px auto;
}