@import '../../variables';

.add-brand-form{
    width: 100%;
    margin: 10px 0px;
};

.add-brand-form-content{
    width: 50%;
    margin: 10px auto;
    padding: 10px;
    border: 1px solid $gray-color;
    background: $white-color;
}