// Variable overrides
@import url('https://fonts.googleapis.com/css2?family=Tenali+Ramakrishna&display=swap');

$font:'Tenali Ramakrishna', sans-serif;

$gray-color:#aaa;

$black-color:#000;

$white-color:#fff;