@import '../../variables';

.signup-section{
    width: 100%;
    margin: 20px 0px;
};

.signup-component-section{
    width: 50%;
    margin: 40px auto;
};

.signup-form-component{
    width: 100%;
    padding: 10px;
    border: 1px solid $gray-color;
    background: $white-color;
}